##############################
## Java
##############################
*.class
*.jar
*.war
*.ear
*.nar

##############################
## Maven
##############################
target/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.uml
*.ipr
*.iws

##############################
## Logs
##############################
*.log